.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #6B5876;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  max-width: 300px;
  margin-top: 20px;
  margin-left: 25%;
}

.form-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 200px;
  margin-top: 20px;
  margin-left: 25%;
}

.form-row {
  display: flex;
  flex-direction: column;

}

.form-row label {
  margin-bottom: 5px;
}

.form-row input,
.form-row select {
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.form-row div {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

h1 {
  margin-left: 40%;
}



.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10%;
}

.form-container {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;
  max-width: 600px;
  margin-left: 30%;

}

.result {
  padding: 10px;
  margin-top: 1%;
  margin-left: 30%;
}

h2 {
  margin-top: 5%;
  margin-left: 30%;
}

.key {
  font-weight: bold;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.943);
}

.value {
  color: rgb(212, 157, 29);
}

.response-value {
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.severity-normal {
  color: green;
}

.severity-moderate {
  color: yellow;
}

.severity-severe {
  color: orange;
}

.severity-extremely-severe {
  color: rgb(255, 31, 31);
}

.button.submitted {
  background-image:url("http://loadinggif.com/images/image-selection/4.gif");
  background-position:5px;
  background-repeat:no-repeat;
  padding-left:30px;
  padding-right:15px;
}

.button.error {
  background-color:#dcc;
  border-color:#c00;
  color:#c00;
}